<div class="modal" id="kontakt"><a class="modal-overlay" href="#modals" aria-label="schließen"></a>
    <div class="modal-container" role="document">
    <div class="modal-header"><a class="btn btn-clear float-right" href="#modals" aria-label="schließen"></a>
        <div class="modal-title h5">kontakt.</div>
    </div>
    <div class="modal-body">
        <div class="content">
<p>Meldet euch gerne bei allen Belangen hier: <a href="mailto:kontakt@trichter.cc">kontakt@trichter.cc</a></p>
<h5>Schlüssel um Emails zu verschlüsseln (PGP)</h5>
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFs0Bg0BEACjMxkrxHGTIB+8t5mZJnd57gGmIfFHrIecXZuRFlzy142OKlYQ
jMT5OMuvlzzxOB69FXlp/ZHbVgXRaStVUJiPMD6o+9LA96HK7PvTBzE8Xf0uQJiE
idlnCPkCr2dQRimfubeBzwtDwBgKZJIL5GMUjf8LbdiW/Vv3m/PRDk5YxyzPabnr
4stD6oUdZHRibK16vG1FCbk+FWQA01zFloblk4m+FNWTT2sLWcMJ73PMIRwrgVAp
FsCjH17KuFOQMOwwbrVN0aBSQPAtddR4GCPGfGwrYuALis1G4TZ5k7i9/TEn5CsM
vcWn6Wj0tfb8nKO5RAhMGKr75j7ZbLe6nsMdGzLJE9N93jxKvYbLkbnvOfwEvK0a
y7HZ/i2hHI7nshCLGbY0chdCmYrrdb5Z9bRgugb8lVNYa/0Pc/miC5o5E/dXbg8Y
XXEgE9qP3WgIDz1jWT2rmVqZsxp4M5+wHAxux1vddLtEcAoIiKbbG+79k1S7eoZd
szD9ugXTrreJFAcoY5xwkPmyofzHwW221OGeGrxmzKyVEZWxfDar7LyW1MB/eIap
twSwaJQJzfl07i3mou8XbW0rucrcTlPGaSN6Ta28iitf7/7+SYvCxtDTzCJWEzXT
1rUqvBFpiL0smBwaVfsrKuD7ped1AYF8NPx293GlREXYMqW3bz67Z2rc3wARAQAB
tCF0cmljaHRlci5jYyA8a29udGFrdEB0cmljaHRlci5jYz6JAlQEEwEIAD4WIQQR
XMcAw02ZLFWsDQAkr+06P5jVCQUCWzQGDQIbIwUJCWYBgAULCQgHAgYVCgkICwIE
FgIDAQIeAQIXgAAKCRAkr+06P5jVCYA4D/92sw6rcecK+xp6F67m058T0mCfG+mM
au4uXrhRD/nLNrmmwADLiUdv10aonWhuMDnoaNREMXfTEQVKeUfmR/6ckEqcznyA
Ra1tqRUCqO/xR92Q2G7bQ/UPm6ucS6pJ66I27pxH+mVMWzVDXu94kNHSHABvLwaf
MYM8Y7smUE5wVcYt3Lld50U3CtjQOP/QBgJABOpe45aXeER2QNmx6SRsaaSOXDtC
8oQ0mv+d573VhAfX3bsXtZ8aoVCSTC67n4edpKlNxpBRVeoaetVNmv0QLwBkuvBa
cuOBxAs3qAWBBnab0XKi97ZRV2N8XbYueJ2W34oBDcldsIkaQGmQfWx9Hn1ZqJoL
ZQQUJIvSd6UIezUlyzNhUYdzOpZ2WGcbw0YuA9qKNvlwhdMsPF/dN/q2TIBtvJac
fw34h7veirULs8ccq+LRwL+0trQyAPhnJnzc5NXYICNtwP8dPrIVv+c/BoFOX5p3
FxSs3YIR2ZnIOnYUPOE7LtJZ97N45bEZYBFuwMcOZJOKpYgFDCAWsvJW0IUPE6Z2
mindi6BrLeh5YBOmOJvsUbD7SOLBaO8THYnCY3daEkI5tRf2f1+ApCv9x7r6tVQs
7P5/bK9qVG7FjPUBWrBanmsCoHTzSRfg314tQ7YPujtQO0B3BCSpJaLhR3Lxj42z
XQqO9Ime8MjUobkCDQRbNAYNARAArm0oMrorOpeDy8qG1kCQGNc/rncB03d5HM1h
uiHV6hmJC7I4xQcBDa+Dzv5zGv0fRdpzJxhr9Ga7PKD5VSyA0GcP2dEk3BIdq792
w/wir+MSOtkCUO/TFiR0A6TqqXZIF2yPqEUiwq49ny9AB1TYAJrsDAkVPqAV4E8w
IjXqslS8Y/nX6vw3TwY21MbvD5aeJ8L89XuVMkTn1HMR2UflBUCG2F+Jzdenu7Fx
bSskxblcXU86LVpLqeuCcsrsjy2xnEUO81G6UYa4xEr6mthnYfxJHaWzDWQrU3tR
timFY+zVqMNtNFJ0C4Fuv1Jkxr+3+IVOzMIpa+hn3CuE21UOlDdtlpd6pviT1X3O
g4UFzG/0w19PcBxBRE3O1wTL34cjAtT2g+6LKn9f0WqBXW/gG8l2buNGH4XnCI09
m9S8YSmVySviQ0l1TVurz0y958eVLHDsut27gGB1w8comaP4exD10jKEXw8h8kEL
oDqnIt6gCVGBFB57Lq2sb6zlC5KHUIdWmA/iu7QXRrKAt8wybCPuBLHBh5xzFIP+
kcyL5ClGSGNZsvNASXHxxyy0RZWy+kaKG1XjV8BwX8zdJ/3wgQJ2uZHw01I+/rWz
6tp+zUj8j4p8kRGnsgOY7qHGYBedYa4xEAObPeY8TGkp+s68vdxIt7LVeKolQyiN
IElp5D0AEQEAAYkCPAQYAQgAJhYhBBFcxwDDTZksVawNACSv7To/mNUJBQJbNAYN
AhsMBQkJZgGAAAoJECSv7To/mNUJFqkQAJTR6rH0gKMNBunF9swMyNqi0GCRIpte
avxfLF0+Mz8oEpIz/d4mETa3OpTxBorZTGB34l7BJ0J4PRZi4sXmkrDpc6qPqTId
VXGaQz0cXgoKSLCHiznA6Wd9G/ptu+ML3zm3nXG2Li2RI7ds8DHyCICPsE9Ja41Z
xrTkMbJE4EeplAC8wcuBBqdkakT9igVL9Q1sGrpaYwrzt2p0M4nMdCfETBOiTU2u
0sy1CFtMRW8/ytl7la9vY4e+MqGKiMPJYlfd13nW/VW+sNQiDOo8ZlxnhDxPzgV3
udZiD8swsFtiR+FbuNYoh44wqPpN4pwPc3UkGPcEaKpvsdegV1EvbD7FEfQ4XPO3
+yphIiekqZljVtI8fNg6WCoN92K3ht6nZEpc9ZZB5eCPaYpHXM7quKgXdciGVHwF
VmtkShAqf4W5/yoa4Sm9tkKsFWW6o00KNrETsuXBU5Aq+KIw1kmY5IzZMF/oTq5m
3PEkmgEcGnXmYfe3CMniHiEJrfa8UWbsVOTDQZqZ2N7sW0vT5UylBKHFKo2qCFQ3
8BlWHwwWQ+H3BV8A+SwQecPqT+B0qBPS76TPhKmDAL5T5NQzLKC6RF12FmpT9GjX
OlqA0CixMCD0OQwQ6CEdtv5qFjd2Pw0hmAqYPa7/bKihQirMDu7OQzsDU36pZPLu
9N4FVuQgdb8L
=VWV7
-----END PGP PUBLIC KEY BLOCK-----
</pre>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-link" href="#modals">schließen</a>
    </div>
    </div>
</div>