@import "node_modules/spectre.css/src/spectre";

body {
    background-image: url('../bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#header {
    // border-bottom: 2px solid white;
    margin-top: 1em;
    img {
        max-width: 95%;
        max-height: 6em;
    }
}

#header {
    h1 {
        margin-bottom: 0;
    }
    h3 {
        font-size: 0.8em;
    }
}

.day {
    margin-bottom: 1em;
    color: black;
    .header {
        background-color: black;
        color: white;

        strong {
            font-size: 20px;
            padding: 0 20px 0 5px;
        }
    }
    ul {
        margin: 0;
        list-style: none;
        li {
            margin: 0;
        }
    }
    .entry {
        .times {
            background-color:  rgba(255,255,255,0.7);
            color: #555;
            display: flex;
            & > div {
                position: relative;
                border-left: 1px solid #555;
                margin-left: 20%;
            }
            & > div:before {
                content: '';
                position: absolute;
                display: block;
                width: 15px;
                top: 17px;
                // height: 1px;
                border-bottom: 1px solid #555;
            }
            & > div:after {
                content: '';
                position: absolute;
                display: block;
                left: 15px;
                height: 8px;
                top: 13px;
                // height: 1px;
                border-right: 1px solid #555;
            }
            
            .times-content {
                padding: 5px 3px 5px 20px;
                font-weight: bold;
                color: #555;
                small {
                    display: block;
                }
            }
        }
        .icons {
            float: right;
            color: #aaa;
        }
        .content {
            background-color: white;
            padding: 0.5em 1em 1em 0.7em;

            h4 {
                font-size: 16px;
                font-weight: 900;
            }
            h4 a {
                color: black; 
            }
            .location {
                color: #999;
                font-size: 12px;
                strong {
                    color: #66b;
                }
                
            }
            .teaser {
                margin-top: -0.3em;
                margin-bottom: 0.3em;
                font-size: 0.8em;
            }
        }
        .seperator {
            border-bottom: 1px dotted #999;
            margin-top: 1em;
            margin-bottom: -0.5em;
        }
    }
}
.entry .hover {
    display: none;
}
.entry:hover .hover {
    display: initial;
}

.tooltip::after {
    text-overflow: initial;
}

.modal-body {
    color: #aaa;
}

.infobox {
    background-color: rgba(255,255,255,0.7);
    color: black;
    // .header {
    //     background-color: black;
    //     color: white;
    //     font-size: 20px;
    //     padding: 0 20px 0 5px;
    // }
    .content {
        padding: 1em;
        font-size: 0.8em;
    }
    a {
        color: #66b;
    }
}

pre {
    font-size: 0.6em;
}